{% extends 'home.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container mt-4">
    <div class="text-center mb-5">
        <h2 class="display-4">Крестоносцы и рыцарские ордена</h2>
        <hr class="w-50 mx-auto">
    </div>
    
    <div class="row mt-4">
        <div class="col-md-6">
            <h3 class="mb-4">История крестоносцев</h3>
            <div class="text-break text-justify" style="word-spacing: -0.1em; hyphens: auto;">
                <p class="mb-3">
                    Крестоносцы — участники крестовых походов XI—XIII веков, организованных 
                    западноевропейскими христианами для освобождения Святой Земли от мусульман. 
                    Первый крестовый поход (1096-1099) завершился захватом Иерусалима и созданием 
                    нескольких христианских государств на Ближнем Востоке. Это помогло европейцам 
                    закрепиться на Ближнем Востоке еще на несколько столетий и даже основать свои 
                    государства и крепости.
                </p>

                <p class="mb-3">
                    Идея крестовых походов была провозглашена папой Урбаном II в 1095 году на 
                    Клермонском соборе. Целью крестоносцев стало освобождение Гроба Господнего
                    и других святынь от иноверцев (в частности мусульман). На одежде рыцари носили 
                    нашитые кресты — символ их миссии, отсюда и пошло знаменитое название. Первый 
                    крестовый поход был "народным". Обычные люди (крестьяне и ремесленники) двинулись 
                    на Иерусалим с целью освобождения христианских святынь от злостных захватчиков. 
                    Конечно, это все закончилось катастрофой. Едва эта многочисленная толпа преодолела 
                    границы Византии, как на них напала обученная армия сельджуков, которая не оставила 
                    крестьянам и шанса. В историю это событие вошло как Крестьянский крестовый поход 
                    или Крестовый поход бедноты.
                </p>
            </div>
        </div>
        
        <div class="col-md-6">
            <h3 class="mb-4">Великие рыцарские ордена</h3>
            <ul class="list-group">
                <li class="list-group-item text-justify">
                    <strong>Тамплиеры</strong> (Орден бедных рыцарей Христа) — основан в 1119 году для защиты паломников. 
                    Стал самым могущественным и богатым орденом. Однако, первым из трех крупных орденов закончил свое 
                    существование (в 1312 году).
                </li>
                <li class="list-group-item text-justify">
                    <strong>Госпитальеры</strong> (Орден Святого Иоанна) — изначально созданный для помощи больным паломникам, 
                    позже превратился в военный орден. Один из самых первых известных нам орденов. Тем не менее, орден 
                    госпитальеров существует и по сей день.
                </li>
                <li class="list-group-item text-justify">
                    <strong>Тевтонский орден</strong> — немецкий рыцарский орден, сыгравший важную роль в христианизации Прибалтики.
                    В современной эпохе Тевтонский орден существует в реформированном виде. 
                    Среди членов объединения нет рыцарей — лишь священники и монахини.
                </li>
            </ul>
        </div>
    </div>

    <div class="text-center mt-5 mb-5">
        <img src="{% static 'img/crest.webp' %}" alt="Рыцари-крестоносцы" class="img-fluid rounded shadow-lg" style="max-height: 700px; width: auto;">
        <p class="mt-3 text-dark"><em>Рыцари-крестоносцы в походе</em></p>
    </div>
    <div class="mt-4">
        </p>
            Рыцарские ордена (духовно-рыцарские ордена) появились в эпоху Крестовых походов. Одним из первых стал орден
            госпитальеров(иоаннитов), который изначально был создан для оказания медицинской помощи.
            Позже появился и орден тамплиеров, который должен был оказывать военную помощь паломникам.
        </p>
    </div>

    <div class="mt-4">
        <h4 class="text-center">Наследие крестоносцев</h4>
        <p>Несмотря на конечную неудачу крестовых походов 
            (последний оплот крестоносцев — Акра — пал в 1291 году; а Иерусалим фактически был под 
            властью крестоносцев примерно 90 лет после первого крестового похода), 
            они оказали огромное влияние на развитие Европы: ускорили культурный обмен между 
            Востоком и Западом, способствовали развитию торговли, архитектуры и военного дела.
            Правда, в тот момент арабская культура была намного развитее европейской, поэтому 
            это скорее европейцы многое взяли у арабов.
        </p>
        <p>Некоторые рыцарские ордена существуют до сих пор в виде благотворительных 
            организаций, например, Мальтийский орден (госпитальеры) с штабом
            в Риме.
            Еще формально существует Тевтонский орден в Германии, но уже не имеет такое значимое
            влияние как на рубеже XII-XIII веков.
        </p>
    </div>

    <div class="text-center mt-5 pt-4 pb-5">
        <a href="{% url 'test_list' %}" class="btn btn-dark btn-lg px-5 py-3 fs-4 shadow">
            <i class="bi bi-shield-shaded me-2"></i> Продите наши тесты. Проверьте знания
        </a>
    </div>
</div>
{% endblock %}